.header {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,0));
  padding: .4rem;
  position: absolute;
}

.header__navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  max-width: 70px;
}

.navbar__links {
  display: none !important;
}

.navbar__menu-btn {
  display: block !important;
  color: #F1EFEF !important;
}

.navbar__links>button {
  color: #FFF;
  margin-inline: .8rem;
}

.btn-login {
  background: var(--gradient-btn) !important;
}

.bg-gradient {
  background: var(--gradient-modal);
}

@media screen and (min-width: 768px) {
  .header {
    padding: .6rem 1.2rem;
  }

  .navbar__links {
    display: block !important;
  }

  .navbar__menu-btn {
    display: none !important;
  }
}