@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');
@import"theme/css/theme.css";

* {
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

form {
    font-size: .85rem;
    border-radius: 5pt;
    padding: .8rem 1.2rem;
}

input, button {
    all: unset;
}

button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 200,
        'opsz' 20
}

.App {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 16pt;
    overflow-x: scroll;
    display: flex;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.list-card, .new-list-card {
    min-width: 250px;
    max-width: 250px;
    height: fit-content;
    background-color: var(--md-sys-color-surface-variant-light);
    border-radius: 10pt;
    padding: 8pt;
    margin: 4pt;
    flex-shrink: 0;
    position: relative;
}

.list-card-header {
    max-width: 100%;
    padding: 0 4pt;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-card-title {
    color: var(--md-sys-color-on-primary-container-light);
    font-family: var(--md-sys-typescale-headline-small-font-family-name);
    font-style: var(--md-sys-typescale-headline-small-font-family-style);
    font-weight: var(--md-sys-typescale-headline-small-font-weight);
    font-size: var(--md-sys-typescale-headline-small-font-size);
    line-height: var(--md-sys-typescale-headline-small-line-height);
    letter-spacing: var(--md-sys-typescale-headline-small-letter-spacing);
    text-transform: uppercase;
    width: 90%;
    overflow-wrap: break-word;
}

.list-dropdown-container {
    position: absolute;
    width: 90%;
}

.list-actions-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    border-radius: 5pt;
    color: var(--md-sys-color-secondary-container-light);
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
}

.list-actions-dropdown > button {
    display: flex;
    align-items: center;
    padding: 8pt;
    background-color: var(--md-ref-palette-secondary10);
}

.list-actions-dropdown > button:hover {
    background-color: var(--md-ref-palette-secondary25);
}

.list-actions-dropdown span {
    font-size: 18px;
}

.list-card-footer {
    margin-top: 12pt;
}

.btn-new-list {
    display: flex;
    align-items: center;
    font-family: var(--md-sys-typescale-label-large-font-family-name);
    font-style: var(--md-sys-typescale-label-large-font-family-style);
    font-weight: var(--md-sys-typescale-label-large-font-weight);
    font-size: var(--md-sys-typescale-label-large-font-size);
    line-height: var(--md-sys-typescale-label-large-line-height);
    letter-spacing: var(--md-sys-typescale-label-large-letter-spacing);
    color: var(--md-sys-color-on-primary-container-light);
}

.btn-new-list > span {
    padding: 4pt;
    margin-right: 8pt;
}

.add-list-form {
    background-color: var(--md-ref-palette-primary99);
}

.add-list-form input {
    margin: 4pt 0;
    width: 100%;
    border-bottom: 2px solid var(--md-sys-color-outline-light);
}

.form-btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 12pt;
}

.edit-list-form {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 8pt 0;
    margin: 2pt 0;
}

.edit-list-form > input {
    max-width: 70%;
    margin-right: auto;
    padding: 4pt 2pt;
    border-bottom: 2px solid var(--md-ref-palette-primary50);
    background-color: #fff;
    font-size: var(--md-sys-typescale-headline-small-font-size);
    line-height: var(--md-sys-typescale-headline-small-line-height);
}

.edit-list-form > .btn-confirm-edit,
.edit-list-form > .btn-cancel-edit {
    display: flex;
    align-items: center;
}

.edit-list-form span {
    font-size: 20px;
}

.edit-list-form > .btn-confirm-edit {
    margin-right: 4pt;
}

.btn-new-task {
    font-family: var(--md-sys-typescale-label-large-font-family-name);
    font-style: var(--md-sys-typescale-label-large-font-family-style);
    font-weight: var(--md-sys-typescale-label-large-font-weight);
    font-size: var(--md-sys-typescale-label-large-font-size);
    line-height: var(--md-sys-typescale-label-large-line-height);
    letter-spacing: var(--md-sys-typescale-label-large-letter-spacing);
    color: var(--md-sys-color-on-primary-container-light);
    transition: all .2s ease-out;
}

.btn-new-task > span {
    color: var(--md-sys-color-on-primary-light);
    background-color: var(--md-ref-palette-primary50);
    border-radius: 100%;
    padding: 4pt;
    margin-right: 8pt;
}

.btn-new-task:hover > span {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
}

.task-card {
    background-color: #fff;
    border-radius: 5pt;
    padding: .8rem 1.2rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    transition: all 80ms ease-in;
    margin: 8pt 0;
    overflow-wrap: break-word;
}

.task-card:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
}

.task-header {
    max-width: 100%;
    margin: 8pt 0;
    display: flex;
    align-items: center;
}

.task-header > .task-label {
    width: 24pt;
    height: 8pt;
    border-radius: 5pt;
    margin-right: 8pt;
}

.task-header > .task-label:last-of-type{
    margin-right: auto;
}

.task-label-green {
    background-color: var(--md-ref-palette-primary60);
}

.task-label-yellow {
    background-color: #f4c800;
}

.task-label-red {
    background-color: var(--md-ref-palette-error40);
}

.task-card > .task-title {
    color: var(--md-sys-color-on-primary-container-light);
    font-family: var(--md-sys-typescale-title-large-font-family-name);
    font-style: var(--md-sys-typescale-title-large-font-family-style);
    font-weight: var(--md-sys-typescale-title-large-font-weight);
    font-size: var(--md-sys-typescale-title-large-font-size);
    line-height: var(--md-sys-typescale-title-large-line-height);
    letter-spacing: var(--md-sys-typescale-title-large-letter-spacing);
    margin: 12pt 0 4pt;
    max-width: 100%;
}

.task-card > p {
    font-family: var(--md-sys-typescale-body-medium-font-family-name);
    font-style: var(--md-sys-typescale-body-medium-font-family-style);
    font-weight: var(--md-sys-typescale-body-medium-font-weight);
    font-size: var(--md-sys-typescale-body-medium-font-size);
    line-height: var(--md-sys-typescale-body-medium-line-height);
    letter-spacing: var(--md-sys-typescale-body-medium-letter-spacing);
    margin: 0;
    max-width: 100%;
}

.task-actions {
    display: flex;
    margin: 12pt 0 0;
}

.task-actions > button {
    margin-right: 8pt;
    display: flex;
    align-items: center;
}

.task-actions span {
    color: var(--md-ref-palette-tertiary50);
}