@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /*--gradient-btn: linear-gradient(#7e3af2, #1c64f2);
    --gradient-modal: linear-gradient(#31c48d, #1c64f2);*/
    --gradient-btn: linear-gradient(#7e3af2, #3f83f8);
    --gradient-modal: linear-gradient(#31c48d, #3f83f8);
  }
  
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  background: center / cover no-repeat fixed url("/public/img/background.jpg");
}

.home__title {
  text-shadow: rgba(0,0,0,.8) 2px 4px 4px;
}

/* 
div[role="dialog"][data-testid="modal"] > div > div {
  background: linear-gradient(#31c48d, #3f83f8);
} 
*/